<div id="change_pass">
    <div class="card-body pb-2">
        <% if user_signed_in? && user == current_user %>
            <div class="text-right ">
                <%= link_to edit_user_pass_path, data: { controller: "edit-user-pass" } do %>
                    <button type="button" class="btn btn-outline-danger">Change Password</button>
                <% end %>
            </div>
        <% end %>
    </div>
</div>