
<footer>

<div class="container-fluid">
<div class="row footer-items">
  <div class="col-sm-4">
  <ul>
    <h3>Get to Know Us</h3>
    <li><a href="#">About us</a></li>
    <li><a href="#">Our People</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Help</a></li>
  </ul>
  </div>
  <div class="col-sm-4">
  <ul>
    <h3>Help</h3>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Partner Search</a></li>
    <li><a href="#">Customer Support</a></li>
    <li><a href="#">Member Login</a></li>
  </ul>
  </div>
  <div class="col-sm-4">
    <ul>
      <h3>Privacy</h3>
      <li><a href="#">Disclaimer</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Be Safe Online</a></li>
      <li><a href="#">Report Misuse</a></li>
    </ul>
    <!-- <h3>Contact Us</h3> -->
      <!-- <div class="col">
        <ul>
          <li>
            <ul class="col">
              <li><i class="fa-solid fa-location-dot"></i></li>
              <li>"3rd Floor, xyz tower, e-29, c-block, sector-29,<br> Noida, UP, India - 000 000 "</li>
            </ul>
          </li>
          <li>
            <ul class="col">
              <li><i class="fa-solid fa-phone"></i></li>
              <li>"India: 1800 000 000 / 1800 001 002"
                <br>
                "Outside India: +91-00-00000000 / +91-81-00000000 "</li>
            </ul>
          </li>
          <li>
            <ul class="col">
              <li><i class="fa-regular fa-envelope"></i></li>
              <li><a href="www.email.com">info@abc.in</a></li>
            </ul>
          </li>
          <li>
            <ul class="col">
              <li><i class="fa-solid fa-comment-sms"></i></li>
              <li>SMS 'xyz' to 0000000000</li>
            </ul>
          </li>
        </ul>
      </div> -->

  </div>
</div>
</div>
<div class="fixed-wrapper footer-copyrights">

  <div class="follow-us flex-box">
    <p class="follow">Follow us on:</p>
    <ul class="social-media">
      <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color:#000000"></i></a></li>
      <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter" style="color:#000000"></i></a> </li>
      <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin" style="color:#000000"></i></a></li>
      <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube" style="color:#000000"></i></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color:#000000"></i></a></li>
    </ul>
  </div>
  <div class="copyrights-text flex-box">
    <div>© Copyright 2023 BestRishtey</div>
  </div>
  
</div>
</div>
</footer>