<div class="col-lg-8 mx-auto">
    <div class="card">
        <h5 class="card-header bg-primary text-white">Confirmation Pending</h5>
        <div class="card-body">
            <h5 class="card-title">Hey! You are just one step away!</h5>
            <p class="card-text">We sent you a confirmation email. Please check your inbox and open the email and click on <strong>Confirm My Account</strong></p>
        </div>
    </div>
</div>